.DS_Store
.ipynb_checkpoints
Rule2/__pycache__
Rule3/__pycache__
Rule4_Active_vs_Passive_Voice.cpython-35.pyc
Web App/__pycache__/rule1.cpython-35.pyc
Web App/__pycache__/rule2.cpython-35.pyc
Web App/__pycache__/rule3.cpython-35.pyc
Web App/__pycache__/rule4.cpython-35.pyc
orwell.cpython-35.pyc
