
/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
  font-size: 14pt;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}


.btn-sub {
  margin-top: 20px;
}
.btn-primary a{
  color:#000;
}
.btn-rules {
  color: #fff;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 20px;
}

.btn-long {
  background-color: rgb(51, 122, 183);
  border-color: #2e6da4;
}

.btn-passive{
  background-color: rgb(92, 184, 92);
  border-color: #4cae4c;
}

.btn-similie{
  background-color: rgb(91, 192, 222);
  border-color: #46b8da;
}

.btn-jargon{
  background-color: rgb(240, 173, 78);
  border-color: #eea236;
}

.btn-meta{
	color: #fff;
  background-color: #f3827f;
  border-color: rgb(241, 148, 145);
}

.btn-meta:focus,
.btn-meta.focus {
  color: #fff;
  background-color: rgb(241, 148, 145);
  border-color: rgb(241, 148, 145);
}
.btn-meta:hover {
  color: #fff;
  background-color: rgb(241, 148, 145);
  border-color: rgb(241, 148, 145);
}
.btn-meta:active,
.btn-meta.active,
.open > .dropdown-toggle.btn-meta {
  color: #fff;
  background-color: rgb(241, 148, 145);
  border-color: rgb(241, 148, 145);
}
.btn-meta:active:hover,
.btn-meta.active:hover,
.open > .dropdown-toggle.btn-meta:hover,
.btn-meta:active:focus,
.btn-meta.active:focus,
.open > .dropdown-toggle.btn-meta:focus,
.btn-meta:active.focus,
.btn-meta.active.focus,
.open > .dropdown-toggle.btn-meta.focus {
  color: #fff;
  background-color: rgb(241, 148, 145);
  border-color: rgb(241, 148, 145);
}
.btn-meta:active,
.btn-meta.active,
.open > .dropdown-toggle.btn-meta {
  background-image: none;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Custom CSS for Orwell
 */

.invisible {
  display: none;
}
.rule1s {
  background-color: rgba(91, 192, 222, 1.0);
}

.rule1s_not_trite {
  background-color: rgba(91, 192, 222, 0.4);
}

.rule1m {
    background-color: rgba(241, 148, 145, 0.8);
}
.rule2 { 
    background-color: rgba(51, 122, 183, 0.8);
}

.rule3 { 
        background-color: rgba(201, 48, 44, 0.7);
}

.rule4 {
  background-color: rgba(92, 184, 92, 0.8);
}

.rule5 {
  background-color: rgba(240, 173, 78, 0.8);
}
