h1 {
	text-align: center;
}

.rule1s {
    background-color: rgba(255, 255, 0, 0.5);
}

.rule1s_not_trite {
    background-color: rgba(255, 0, 255, 0.5);
}

.rule1m {
    background-color: rgba(255, 255, 255, 0.5);

}
.rule2 { 
    background-color: rgba(255, 0, 0, 0.5);
}

.rule3 { 
    background-color: rgba(0, 255, 0, 0.5);
}

.rule4 {
    background-color: rgba(0, 0, 255, 0.5);
}

.rule5 {
    background-color: rgba(0, 255, 255, 0.5);
}

